body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.day{
  background-color: white;
  width: 300px;
  padding: 12px;
  margin: 6px 6px 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}
.todosContainer{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction:column; */
  justify-content: center;
  align-items: center;
}
/* .column {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
} */
.home {
  text-align: center;
}
.home-image{
  width: 500px;
}
.todo_form{
  width: 100%;
  text-align: center;
}
.sunday{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center
}
#root > div > div.todosContainer > div.sunday > div{
  width: 636px;
}